# npm / yarn
.npm
node_modules
npm-debug.log*
yarn.lock

# eslint
.eslintcache

# Gradle
build
target
lib
dist
.gradle
/gradle/wrapper
/gradlew
/gradlew.bat

# IDE (including symlinks)
.idea
*.classpath
.settings
.metadata
*.project
*.iml
*.launch
atlassian-ide-plugin.xml

# Other
*.log
.DS_Store
*.tsbuildinfo

# Build artifact
*.tgz
cyclonedx.json
bin

# performance tests
.npmrcForDocker
playwright-report
test-results

# local files
.local
