html {
	overflow: auto;
}

.outlineCells .layoutGrid__column {
	outline: 1px dotted magenta !important;
}

.s1 {
	background-color: red !important;
}

.s2 {
	background-color: cadetblue !important;
}

.s3 {
	background-color: yellow !important;
}

.s4 {
	background-color: green !important;
}

.s5 {
	background-color: magenta !important;
}

.s6 {
	background-color: cyan !important;
}

.s7 {
	background-color: lime !important;
}

.s8 {
	background-color: orange !important;
}

.s9 {
	background-color: aqua !important;
}

.s10 {
	background-color: violet !important;
}

.s11 {
	background-color: teal !important;
}

.s12 {
	background-color: firebrick !important;
}

.s13 {
	background-color: goldenrod !important;
}

.s14 {
	background-color: yellowgreen !important;
}

.s15 {
	background-color: azure !important;
}

.s16 {
	background-color: springgreen !important;
}

.s17 {
	background-color: indianred !important;
}

.s18 {
	background-color: blueviolet;
}

.myCustomCssClass {
	background-color: cadetblue;
}

.logo {
	align-items: center;
	display: flex;
	height: 32px;
}

.logo img {
	height: 32px;
}
